{{define "body"}}
<div class="mdui-container px-3 my-5">
<p class="mdui-text-center"><font size="6"><a href="/curseforge" style="text-decoration: none; color: #000;"><b>CurseForge</b> 搜索</a></font>
{{template "search" .}}
<br />
<!--标题-->
{{if .WebsiteURL}}
<h1 class="mdui-typo"><a href="{{ .WebsiteURL}}" target="_blank" rel="noopener noreferrer">{{.Name}}</a></h1>
{{else}}
<h1><font size="6">{{.Name}}</font><font size="4"> 的搜索结果</font></h1>
{{end}}
<!--内容-->
{{if .Table}}
<div class="mdui-table-fluid">
<table class="mdui-table mdui-table-hoverable mdui-typo">
    <tbody id="tb">
        <tr>
            {{range .Tr}}<th>{{.}}</th>{{end}}
        </tr>
        {{range .List}}<tr>
            {{range .TdList}}<td>{{.}}</td>{{end}}
        </tr>{{end}}
    </tbody>
</table>
</div>
{{else}}
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); gap: 15px; align-items: center;">
{{range .List}}
<a href="{{ .Link}}" style="text-decoration: none"><div class="mdui-card mdui-hoverable" style="border-radius: 10px;">
  <div class="mdui-card-primary mdui-ripple" style="padding-top: 16px">
    <div class="mdui-card-primary-title">
      <h3 class="mdui-typo mdui-text-color-theme-accent">{{ .Title}}</h3>
    </div>
    <div class="mdui-card-primary-subtitle">
      <p class="mdui-typo">{{ .Txt}}</p>
    </div>
  </div>
</div>
</a>
{{end}}
</div>
{{end}}
{{if .T}}
<br />
<a href="{{ .Link}}" class="mdui-btn mdui-ripple mdui-center mdui-hoverable" style="border-radius: 10px;"><font size="4" class="mdui-text-color-theme-accent">查看更多</font></a>
{{else}}
{{end}}
{{end}}