{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{if .Description}}<meta name="description" content="{{.Description}}">{{end}}
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xmdhs/searchqanda/style.css">
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "b5191d5d3a534b2c825c364fe714b39e"}'></script>
    <style type="text/css">
        footer {
            text-align: center;
        }
        .container-lg.px-3.my-5.markdown-body {
            min-height: 85vh;
        }
    </style>
</head>
{{end}}