{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{if .Description}}
    <meta name="description" content="{{.Description}}">{{end}}
    <title>{{.Title}}</title>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b288002c53e544a38e68d4ec672b85e8"}'></script>
    <!-- End Cloudflare Web Analytics -->
    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://static.xmdhs.com/mdui.min.css"/>
    <!-- MDUI JavaScript -->
    <script src="https://static.xmdhs.com/mdui.min.js"></script>
    <script>
        window.addEventListener('load', () => {
            let darkMode = localStorage.getItem("theme")
            if (darkMode === "dark") {
                enableDarkMode()
            }
        });

        function toggleDarkMode() {
            darkMode = localStorage.getItem("theme")
            if (darkMode === "dark") {
                disableDarkMode()
            } else {
                enableDarkMode()
            }
        }

        function enableDarkMode() {
            document.body.classList.add("mdui-theme-layout-dark")
            localStorage.setItem("theme", "dark")
        }

        function disableDarkMode() {
            document.body.classList.remove("mdui-theme-layout-dark")
            localStorage.setItem("theme", "light")
        }
        window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", e => (e.matches ? enableDarkMode() : disableDarkMode()))
    </script>
    <style type="text/css">
        footer {
            text-align: center;
        }
    </style>
</head>
{{end}}